In [1]:
a = b = 7
print('a =', a, '\nb =', b)

a = 7
b = 7

In [52]:
for row in range(10):
    for column in range(10):
        print('<' if row % 2 == 1 else '>', end='')
    print()

>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<
>>>>>>>>>>
<<<<<<<<<<

In [51]:
for row in range(2):
    for column in range(7):
        print("@", end="")
    print()

@@@@@@@
@@@@@@@

In [63]:
print("number\tsquare\tcube")
for number in range(6):
    square = number**2
    cube = number**3
    print(f"{number}\t{square}\t{cube}")

number	square	cube
0	0	0
1	1	1
2	4	8
3	9	27
4	16	64
5	25	125

In [73]:
list=[]
for number in range(3):
    u_number=int(input("Give number"))
    list.append(u_number)
print("Sum:",sum(list),"Max:",max(list),"Min:",min(list))

Give number 1
Give number 2
Give number 3

Sum: 6 Max: 3 Min: 1

In [88]:
user_input = input()
user_list=user_input.split(",")
print(user_list)

 4,5,6

['4', '5', '6']